## 6.1 文本格式数据读写

In [15]:
import pandas as pd
import numpy as np
df=pd.DataFrame([['a','b','c','d','message'],
                ['1','2','3','4','hello'],
                ['5','6','7','8','world'],
                ['9','10','11','12','foo']])
df.to_csv("ex1.csv",index=False,header=None)

In [16]:
df=pd.read_csv("ex1.csv")
print(df)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
df=pd.read_csv("ex1.csv",header=None)     #源文件中没有表头，生成默认表头
print(df)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [20]:
df=pd.read_csv("ex1.csv",names=['a','b','c','d','message'])  #指定表头
print(df)

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [24]:
#可以将message值作为列索引
names=['a','b','c','d','message']
pd.read_csv("ex1.csv",names=names,index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

### 6.1.2 将数据写入文本格式